.app {
  min-height: 100vh;
  padding-bottom: 180px;
}

.main-content {
  padding-top: 70px;
}

@media (max-width: 768px) {
  .app {
    padding-bottom: 200px;
  }

  .main-content {
    padding-top: 0;
    padding-bottom: 70px;
  }
}
